<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <form action="/createfile" method="post">
          <input
            type="text"
            name="filename"
            placeholder="Write Filename with extension"
          />
        </form>

        <!-- Showing files in screen -->
        <ul>
          <% files.forEach((file)=>{ %>
          <li>
            <a href="/<%= file %>"><%= file %></a>
            <a href="/delete/<%= file %>"><button>delete</button></a>
          </li>
          <% }) %>
        </ul>
      </div>
      <div class="right">
        <form action="/update/<%= filename %>" method="post">
          <textarea cols="100" rows="30" name="filedata">
          <%= filedata %>
          </textarea>

          <br>
          <button>save</button>
        </form>
      </div>
    </div>
  </body>
</html>
